# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 02ef17caf3b857e816136e3e2a4aa015941c6ad07eb04f8a98194c52390dfb397144169307ed122cde7eec2d8fe7e73adae614a23ef733b8d320bc113bc0e9c3

test:
  secret_key_base: 899bbcf2ab93d99b68bdb51e17d96513c6fbdb12f4389088742d70ca01150a4ce0c109e033d680b5a86f937a992b92a0639b4ff45731dc8c317bd3034b26d318

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
